@import url(header.css);
@import url(footer.css);

.contenedor-general {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: auto;
    padding: 5em;
}

body {
    font-family: "Pixelify Sans", sans-serif;
}

/*Estilos para el contenedor de productos */
.box__productos {
    height: 70vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

.box__productos h2,
.box__form-Agregar-Producto h2 {
    margin: 1em 0 1em 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.lista__cartas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center;
    overflow-y: scroll;
    border: 2px dashed black;
    border-radius: 25px;
    padding: 1em;
    gap: 1em;
    background-color: rgba(10, 1, 79, .2);
}

.carta {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
    padding: .8em;
    background-color: rgba(208, 183, 255, 0.76);
}

.carta picture {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 220px;
    border: 2px solid black;
    border-radius: 15px;
}
/*Estilo para errores de caja de productos*/
.error_al_listar {
    padding: 25px;
    color: darkred;
    text-align: center;
}

/*Estilos para la info de la tarjeta*/
.producto__info {
    width: 90%;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    padding-top: .8em;
    gap: .8em;
}

.producto__info p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Esto permite que se vean solo 2 líneas de texto y luego se agregan puntos suspensivos con la siguientes propiedades */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

}

.valor__producto {
    display: flex;
    justify-content: space-between;
}

.producto__info i {
    cursor: pointer;
}

/*Estilos para el formulario de productos*/
.box__form-Agregar-Producto {
    width: 45%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border: 2px dashed black;
    border-radius: 25px;
}

.box__form-Agregar-Producto form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.formulario__item {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1em;
}

.formulario__item label {
    padding-left: 10px;
    font-size: 1.2rem;
}

.formulario__item input {
    line-height: 3em;
    border: 3px solid rgb(10, 1, 79);
    border-radius: 25px;
    padding: 0 20px;
}

.mensaje__error {
    padding-left: 10px;
    color: brown;
}

.formulario__botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 2em 0 0em;
}

.formulario__botones button {
    width: 10em;
    border: 2px solid rgb(10, 1, 79);
    border-radius: 15px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.formulario__botones button:hover {
    background-color: rgba(208, 183, 255, .5);
}

@media (max-width: 768px) {
    .contenedor-general {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .box__productos {
        height: 70vh;
        width: 95%;
        order: 2;
        margin: 1em 0 2em 0;
    }

    .box__productos h2 {
        margin: 1em 0 1em 0;
    }

    .lista__cartas {
        gap: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .7em;
    }

    .carta{
        scale: .9;
    }

    .box__form-Agregar-Producto{
        width: 95%;
        height: auto;
        padding: 10px 0 calc(2em + 10px);
    }
    .box__form-Agregar-Producto h2{
        margin: 1em 0 1em 0;
    }
    .formulario__item {
        width: 80%;
    }

    .formulario__botones{
        width: 80%;
    }
}